@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
   font-family: 'Raleway';
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1 {
   font-size: 2rem;
   color: #474747;
}

h2 {
   font-size: 1.5rem;
   color: #aa6800;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.search-icon {
   position: absolute;
   left: 2%;
   align-self: center;
}

/* #textfield:focus {
  border: none;
} */

.inp-place {
   width: 250px;
   height: 35px;
}
.inp-place::placeholder {
   color: #fffdfd;
   /* padding-left: 10px; */
}
a {
   text-decoration: none;
}
center {
   margin: 20px;
}

.futter p {
   color: #ffffff;
   font-size: 12px;
   line-height: 14px;
   font-weight: 400;
   margin-bottom: 1.5rem;
}
.futter h4 {
   color: #ffffff;
}
/* @media (max-width: 900px) {
  .search-icon {
    display: none;
  }
} */
